 //antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$base-font-size: 13px;
$base-font-color: #000;
$base-background-color: #fff;

$site-size: 1200px + 60;

// colors
$color-primary: #d7d9fe; // light violet

// easing / animation
$duration: .25s;
$easing: ease-in-out;
$delay: .35s;

//breakpoints
$breakpoint-mobile: 767px;

$path-assets: "/public";
$path-image: "#{$path-assets}/images/";
// $path-font: "#{$path-assets}/fonts";