 //antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$site-size: 1200px + 60;

// colors
$color-primary: #d7d9fe; // light violet

// easing / animation
$duration: .25s;
$easing: ease-in-out;
$delay: .35s;

//breakpoints
$breakpoint-mobile: 767px;

$path-assets: "/public";
$path-image: "#{$path-assets}/images/";
$path-font: "#{$path-assets}/fonts";

$font-noto: 'Noto Sans JP', sans-serif;
$font-montserrat: 'Montserrat-Bold';
$font-hiragino: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

// @font-face {
//     font-family: 'NotoSansJP-Medium';
//     src: url('#{$path-font}/NotoSansJP-Medium.otf') format('opentype');
// }
// @font-face {
//     font-family: 'NotoSansJP-Bold';
//     src: url('#{$path-font}/NotoSansJP-Bold.otf') format('opentype');
// }
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('#{$path-font}/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('#{$path-font}/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('#{$path-font}/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('#{$path-font}/Montserrat-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

$base-font-family: $font-noto;
$base-font-size: 14px;
$base-font-color: #000;
$base-background-color: #f6f7f8;