 //antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$site-size: 1200px + 60;

// colors
$color-primary: #d7d9fe; // light violet

// easing / animation
$duration: .25s;
$easing: ease-in-out;
$delay: .35s;

//breakpoints
$breakpoint-mobile: 767px;

$path-assets: "/public";
$path-image: "#{$path-assets}/images/";
$path-font: "#{$path-assets}/fonts";

$font-noto: 'NotoSansCJKjp-Medium';
$font-noto-bold: 'NotoSansCJKjp-Bold';
$font-noto-black: 'NotoSansCJKjp-Black';
$font-montserrat: 'Montserrat-Bold';

@font-face {
    font-family: 'NotoSansCJKjp-Medium';
    src: url('#{$path-font}/NotoSansCJKjp-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKjp-Bold';
    src: url('#{$path-font}/NotoSansCJKjp-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKjp-Black';
    src: url('#{$path-font}/NotoSansCJKjp-Black.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('#{$path-font}/Montserrat-Bold.otf') format('opentype');
}

$base-font-family: $font-noto;
$base-font-size: 13px;
$base-font-color: #000;
$base-background-color: #f6f7f8;