@import 'settings';
@import 'base/base';
@import 'base/sanitize';

@import 'lib/media-queries';
@import 'lib/utility';
@import 'lib/slick';
@import 'lib/icons';

@import 'modules/header';
@import 'modules/hero';
@import 'modules/section-title';
@import 'modules/info-block';
@import 'modules/testimony';
@import 'modules/faq-block';
@import 'modules/contact';
@import 'modules/company';
@import 'modules/footer';

@import 'layout/l-container';
@import 'layout/l-bubble';
@import 'layout/l-about';
@import 'layout/l-benefit';
@import 'layout/l-failure';
@import 'layout/l-point';
@import 'layout/l-testimonies';
@import 'layout/l-faq';
@import 'layout/l-flow';
@import 'layout/l-contact';
@import 'layout/l-company';