.l-about {
    padding: 115px 0 80px;
}
.l-about__left {
    width: 48%;

    img {
        width: 100%;
    }
}
.l-about__right {
    width: 43%;
}
.l-about__description {
    line-height: 1.8;

    margin-bottom: 30px;

    color: #747474;
}
