.l-about {
    position: relative;

    padding: 115px 0 80px;
}
.l-about__left {
    width: 48%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }

    img {
        width: 100%;
    }
}
.l-about__right {
    width: 43%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;

        text-align: center;
    }

    img {
        @include max-screen($breakpoint-mobile) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
.l-about__description {
    line-height: 1.8;

    margin-bottom: 30px;

    color: #747474;

    @include max-screen($breakpoint-mobile) {
        font-size: 11px;

        margin-bottom: 20px;

        text-align: left;
        letter-spacing: .125em;
    }

    &:last-child {
        @include max-screen($breakpoint-mobile) {
            margin-bottom: 15px;
        }
    }
}
.l-about__decors-left {
    top: 320px;
    left: 0;

    width: 722px;
    height: 670px;

    background-image: url('#{$path-image}/decors/2.png');
}
.l-about__decors-right {
    top: 50px;
    right: 0;

    width: 355px;
    height: 377px;

    background-image: url('#{$path-image}/decors/1.png');
}
.l-about__decors-left,
.l-about__decors-right {
    position: absolute;
    z-index: 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
