.l-benefit {
    position: relative;

    text-align: center;
}
.l-benefit__list {
    margin-top: 70px;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        margin-top: 40px;
    }
}
.l-benefit__item {
    position: relative;
    z-index: 0;

    width: 31.5%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 25px;
    }

    &:before {
        position: absolute;
        z-index: -1;
        top: 18px;
        left: -10px;

        display: block;

        width: 100%;
        height: 98%;

        content: '';

        border-radius: 30px;
        background-color: #cdc8f0;

        @include max-screen($breakpoint-mobile) {
            top: 5px;
            left: -1px;

            height: 100%;

            border-radius: 15px;
        }
    }
}
.l-benefit__decors-left {
    bottom: -199px;
    left: 0;

    width: 386px;
    height: 386px;

    background-image: url('#{$path-image}/decors/4.png');
}
.l-benefit__decors-right {
    right: 0;
    bottom: -500px;

    width: 676px;
    height: 685px;

    background-image: url('#{$path-image}/decors/3.png');
}
.l-benefit__decors-left,
.l-benefit__decors-right {
    position: absolute;
    z-index: 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
