.l-benefit {
    text-align: center;
}
.l-benefit__list {
    margin-top: 70px;

    list-style-type: none;
}
.l-benefit__item {
    position: relative;
    z-index: 0;

    width: 31.5%;

    &:before {
        position: absolute;
        z-index: -1;
        top: 18px;
        left: -10px;

        display: block;

        width: 100%;
        height: 98%;

        content: '';

        border-radius: 30px;
        background-color: #cdc8f0;
    }
}
