.l-bubble {
    position: relative;
    z-index: 1;

    padding: 80px 85px;

    border-radius: 150px;
    border-bottom-left-radius: 0;
    background-color: #fff;

    @include max-screen($breakpoint-mobile) {
        width: 90%;
        padding: 30px 15px;

        border-radius: 50px;
        border-bottom-left-radius: 0;
    }

    &:after {
        position: absolute;
        bottom: 0;
        left: -65px;

        display: block;

        width: 65px;
        height: 54px;

        content: '';

        background-image: url('#{$path-image}/bubble-end.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include max-screen($breakpoint-mobile) {
            left: -15px;

            width: 15px;
            height: 15px;
        }
    }

    // MODIFIER
    &.l-bubble--flipped {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 150px;

        @include max-screen($breakpoint-mobile) {
            border-bottom-left-radius: 50px;
        }

        &:after {
            right: -65px;
            left: auto;

            transform: scaleX(-1);

            @include max-screen($breakpoint-mobile) {
                right: -15px;
            }
        }
    }
}
