.l-contact {
    position: relative;

    margin: 100px auto;

    text-align: center;

    .l-container {
        padding-top: 60px;
        padding-bottom: 100px;

        border-radius: 150px;
        background-color: #fff;
    }
}
