.l-contact {
    position: relative;

    margin: 130px auto 100px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        margin-top: 40px;
        padding: 0 30px;
    }

    .l-container {
        z-index: 1;

        padding-top: 60px;
        padding-bottom: 100px;

        border-radius: 150px;
        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            padding: 60px 40px;

            border-radius: 50px;
        }
    }
}
.l-contact__description {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.8;
}
.l-contact__decors-left {
    top: -50px;
    left: 0;

    width: 335px;
    height: 688px;

    background-image: url('#{$path-image}/decors/12.png');
}
.l-contact__decors-right {
    right: -60px;
    bottom: 150px;

    width: 427px;
    height: 366px;

    background-image: url('#{$path-image}/decors/13.png');

    @include max-screen($breakpoint-mobile) {
        right: -25px;
        bottom: 40px;

        width: 65%;
        height: 55.45vw;
    }
}
.l-contact__decors-left,
.l-contact__decors-right {
    position: absolute;
    z-index: 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
