.l-failure {
    position: relative;

    margin: 80px auto 0;

    text-align: center;

    .l-bubble {
        padding-bottom: 40px;
    }
}
.l-failure__list {
    margin-top: 70px;

    list-style-type: none;

    justify-content: center;
    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 0;
    }

    .slick-slide {
        &:not(.slick-active) {
            .l-failure__item {
                &:before {
                    display: none;
                }
            }
        }
    }

    .slick-dots {
        display: flex;

        width: 90px;
        margin: 10px auto 0;

        list-style-type: none;

        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        li {
            width: 10px;
            height: 10px;

            cursor: pointer;
            transition: background-color $duration $easing,
            opacity $duration $easing;

            border: 2px solid #8178ff;
            border-radius: 100%;
            background-color: #fff;

            &.slick-active {
                width: 15px;
                height: 15px;

                border: none;
                background-color: #8178ff;
            }
        }
    }
}
.l-failure__item {
    position: relative;
    z-index: 0;

    width: 31.3%;
    margin-right: 30px;
    margin-bottom: 50px;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    &:nth-child(3) {
        margin-right: 0;
    }

    &:before {
        position: absolute;
        z-index: -1;
        top: 18px;
        left: -10px;

        display: block;

        width: 100%;
        height: 98%;

        content: '';

        border-radius: 30px;
        background-color: #cdc8f0;

        @include max-screen($breakpoint-mobile) {
            top: 5px;
            left: -1px;

            height: 100%;

            border-radius: 15px;
        }
    }

    .info-block {
        .info-block__title {
            margin-bottom: 30px;
        }
        img {
            width: 200px;
            height: 200px;
            margin-bottom: 30px;

            border: 2px solid #cdc8f0;
            border-radius: 50%;
        }
    }
}
.l-failure__decors-left {
    bottom: -350px;
    left: 0;

    width: 695px;
    height: 769px;

    background-image: url('#{$path-image}/decors/6.png');
}
.l-failure__decors-right {
    right: 41px;
    bottom: -48px;

    width: 355px;
    height: 290px;

    background-image: url('#{$path-image}/decors/5.png');
}
.l-failure__decors-left,
.l-failure__decors-right {
    position: absolute;
    z-index: 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
