.l-faq {
    position: relative;

    margin: 100px auto 0;

    text-align: center;
}
.l-faq__list {
    margin-top: 60px;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}
.l-faq__item {
    position: relative;

    margin-bottom: 30px;

    @include max-screen($breakpoint-mobile) {
        margin-bottom: 15px;
        padding: 0 10px;
    }

    &:hover {
        &:not(.is-active) {
            .faq-block {
                color: #fff;
                background: linear-gradient(to right, rgba(57,85,255,1) 0%,rgba(73,50,255,1) 40%,rgba(94,2,255,.98) 100%);
            }
            .faq-block__icon {
                &:before,
                &:after {
                    background-color: #fff;
                }
            }
        }
    }

    &.is-active {
        .faq-block {
            height: 100%;

            color: #fff;
            border-radius: 60px;
            background: linear-gradient(to right, rgba(57,85,255,1) 0%,rgba(73,50,255,1) 40%,rgba(94,2,255,.98) 100%);

            @include max-screen($breakpoint-mobile) {
                border-radius: 35px;
            }

            .faq-block__answer {
                opacity: 1;
            }
            .faq-block__icon {
                &:before {
                    display: none;
                }
                &:after {
                    transform: rotate(0);

                    background-color: #fff;
                }
            }
        }
    }
}
.l-faq__decors-left {
    bottom: -70px;
    left: 0;

    width: 406px;
    height: 470px;

    background-image: url('#{$path-image}/decors/10.png');
}
.l-faq__decors-right {
    top: -500px;
    right: 0;

    width: 575px;
    height: 577px;

    background-image: url('#{$path-image}/decors/9.png');

    @include max-screen($breakpoint-mobile) {
        top: -150px;

        width: 93%;
        height: 92.5vw;
    }
}
.l-faq__decors-left,
.l-faq__decors-right {
    position: absolute;
    z-index: 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
