.l-faq {
    margin: 100px auto 0;

    text-align: center;
}
.l-faq__list {
    margin-top: 60px;

    list-style-type: none;
}
.l-faq__item {
    position: relative;

    margin-bottom: 30px;

    &.is-active {
        .faq-block {
            height: 100%;
            padding-top: 30px;
            padding-bottom: 30px;

            color: #fff;

            &:before {
                height: 100%;

                border-radius: 100px;
                background: linear-gradient( #453cff 0%, #5f02ff 100%);
            }
            .faq-block__answer {
                opacity: 1;
            }
        }

        &:before {
            display: none;
        }
        &:after {
            transform: rotate(0);

            background-color: #fff;
        }
    }

    &:before {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 50px;

        display: block;

        width: 15px;
        height: 3px;

        content: '';
        transition: all $duration $easing;
        transform: translateY(-50%);

        background-color: #795888;
    }
    &:after {
        position: absolute;
        top: 50%;
        right: 50px;

        display: block;

        width: 15px;
        height: 3px;

        content: '';
        transition: all $duration $easing;
        transform: translateY(-50%) rotate(90deg);

        background-color: #795888;
    }
}
