.l-flow {
    position: relative;

    margin: 100px auto 0;
    padding: 120px 0 280px;

    text-align: center;

    color: #fff;
    background-image: url('#{$path-image}/flow-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    @include max-screen($breakpoint-mobile) {
        padding-bottom: 130px;

        background-image: url('#{$path-image}/flow-bg-sp.png');
    }

    .l-container {
        z-index: 1;
    }

    .section-title-ja {
        &:before {
            background-color: #6c67fe;
        }
    }
}
.l-flow__list {
    margin-top: 100px;

    list-style-type: none;

    @include max-screen($breakpoint-mobile) {
        margin-top: 80px;
        padding: 0 20px;
    }

    .slick-slide:not(.slick-cloned) {
        counter-increment: flow;
    }

    .slick-list {
        margin-top: -50px;
        padding-top: 50px;
        padding-bottom: 5px;
    }

    .slick-slide {
        &:not(.slick-active) {
            .l-flow__item {
                &:before {
                    display: none;
                }
            }
        }
    }

    .slick-dots {
        display: flex;

        width: 60px;
        margin: 30px auto 0;

        list-style-type: none;

        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        li {
            width: 10px;
            height: 10px;

            cursor: pointer;
            transition: background-color $duration $easing,
            opacity $duration $easing;

            border: 2px solid #fff;
            border-radius: 100%;

            &.slick-active {
                width: 15px;
                height: 15px;

                border: none;
                background-color: #fff;
            }
        }
    }
}
.l-flow__item {
    position: relative;
    z-index: 0;

    width: 30%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        height: 100%;
    }

    &:before {
        position: absolute;
        z-index: -1;
        top: 18px;
        left: -10px;

        display: block;

        width: 100%;
        height: 98%;

        content: '';

        border-radius: 30px;
        background-color: #cdc8f0;

        @include max-screen($breakpoint-mobile) {
            top: 5px;
            left: -1px;

            height: 100%;

            border-radius: 15px;
        }
    }
    .info-block {
        @include max-screen($breakpoint-mobile) {
            min-height: 410px;
        }
    }

    .info-block__title {
        color: $base-font-color;
    }
    .info-block__description {
        text-align: center;
    }
}
.l-flow__item-counter {
    font-family: $font-montserrat;
    font-size: 20px;

    position: absolute;
    top: -40px;
    left: 50%;

    content: 'STEP ' counter(flow);
    transform: translateX(-50%);
}
.l-flow__decors-right {
    position: absolute;
    z-index: 0;
    right: -180px;
    bottom: 130px;

    width: 527px;
    height: 450px;

    background-image: url('#{$path-image}/decors/11.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        right: -130px;
        bottom: 100px;

        width: 72%;
        height: 61.3vw;
    }
}
