.l-flow {
    margin: 100px auto 0;
    padding: 120px 0 180px;

    text-align: center;

    color: #fff;
    background-image: url('#{$path-image}/flow-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    .section-title-ja {
        &:before {
            background-color: #6c67fe;
        }
    }
}
.l-flow__list {
    margin-top: 100px;

    list-style-type: none;
}
.l-flow__item {
    position: relative;
    z-index: 0;

    width: 30%;

    counter-increment: flow;

    &:before {
        position: absolute;
        z-index: -1;
        top: 18px;
        left: -10px;

        display: block;

        width: 100%;
        height: 98%;

        content: '';

        border-radius: 30px;
        background-color: #cdc8f0;
    }

    &:after {
        font-family: $font-montserrat;
        font-size: 20px;

        position: absolute;
        top: -40px;
        left: 50%;

        content: 'STEP ' counter(flow);
        transform: translateX(-50%);
    }

    .info-block__title {
        color: $base-font-color;
    }
    .info-block__description {
        text-align: center;
    }
}
