.l-point {
    margin: 80px auto -40px;

    text-align: center;
}
.l-point__list {
    margin-top: 70px;

    list-style-type: none;

    counter-reset: point;

    justify-content: center;
}
.l-point__item {
    position: relative;
    z-index: 0;

    width: 47.2%;
    margin-right: 30px;
    margin-bottom: 50px;

    counter-increment: point;

    &:before {
        position: absolute;
        z-index: -1;
        top: 18px;
        left: -10px;

        display: block;

        width: 100%;
        height: 98%;

        content: '';

        border-radius: 30px;
        background-color: #cdc8f0;
    }

    &:after {
        font-family: $font-montserrat;

        position: absolute;
        top: -15px;
        left: 25px;

        width: 95px;
        padding: 12px 0;

        content: 'Point ' counter(point);

        color: #fff;
        background-image: linear-gradient( -67.548deg, rgb(85,0,255) 0%, rgb(0,229,255) 100%);
    }

    &:last-child {
        margin-bottom: 0;
    }

    .info-block {
        padding-left: 60px;

        .info-block__title {
            margin-bottom: 30px;
        }
        img {
            height: 165px;
        }
    }
}
