.l-point {
    position: relative;

    margin: 80px auto 0;

    text-align: center;
}
.l-point__list {
    margin-top: 70px;

    list-style-type: none;

    counter-reset: point;

    justify-content: center;
    @include max-screen($breakpoint-mobile) {
        margin-top: 50px;
    }
}
.l-point__item {
    position: relative;
    z-index: 0;

    width: 47.2%;
    margin-right: 30px;
    margin-bottom: 50px;

    counter-increment: point;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    &:before {
        position: absolute;
        z-index: -1;
        top: 18px;
        left: -10px;

        display: block;

        width: 100%;
        height: 98%;

        content: '';

        border-radius: 30px;
        background-color: #cdc8f0;

        @include max-screen($breakpoint-mobile) {
            top: 5px;
            left: -1px;

            height: 100%;

            border-radius: 15px;
        }
    }

    &:after {
        font-family: $font-montserrat;
        font-size: 14px;

        position: absolute;
        top: -22px;
        left: 25px;

        width: 95px;
        padding: 15px 0;

        content: 'Point ' counter(point);
        letter-spacing: .125em;

        color: #fff;
        background: linear-gradient(-67.548deg, #50f 0%, #2b72ff 100%);

        @include max-screen($breakpoint-mobile) {
            font-size: 12px;

            top: -15px;
            left: 20px;

            width: 70px;
            padding: 8px 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    .info-block {
        padding-left: 60px;

        @include max-screen($breakpoint-mobile) {
            padding-left: 20px;
        }

        .info-block__title {
            margin-bottom: 30px;
        }
        img {
            height: 165px;
        }
    }
}
.l-point__decors-left {
    bottom: -199px;
    left: 0;

    width: 535px;
    height: 591px;

    background-image: url('#{$path-image}/decors/8.png');

    @include max-screen($breakpoint-mobile) {
        bottom: -59px;
        left: 0;

        width: 60%;
        height: 66.65vw;
    }
}
.l-point__decors-right {
    right: 0;
    bottom: 380px;

    width: 544px;
    height: 606px;

    background-image: url('#{$path-image}/decors/7.png');
}
.l-point__decors-left,
.l-point__decors-right {
    position: absolute;
    z-index: 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
