.l-point {
    position: relative;

    margin: 80px auto 0;

    text-align: center;
}
.l-point__list {
    margin-top: 70px;

    list-style-type: none;

    counter-reset: point;

    justify-content: center;
    @include max-screen($breakpoint-mobile) {
        margin-top: 50px;
    }
}
.l-point__item {
    position: relative;
    z-index: 0;

    width: 47.2%;
    margin-right: 30px;
    margin-bottom: 50px;

    counter-increment: point;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    &:before {
        position: absolute;
        z-index: -1;
        top: 18px;
        left: -10px;

        display: block;

        width: 100%;
        height: 98%;

        content: '';

        border-radius: 30px;
        background-color: #cdc8f0;

        @include max-screen($breakpoint-mobile) {
            top: 5px;
            left: -1px;

            height: 100%;

            border-radius: 15px;
        }
    }

    &:after {
        font-family: $font-montserrat;

        position: absolute;
        top: -15px;
        left: 25px;

        width: 95px;
        padding: 12px 0;

        content: 'Point ' counter(point);

        color: #fff;
        background-image: linear-gradient( -67.548deg, rgb(85,0,255) 0%, rgb(0,229,255) 100%);

        @include max-screen($breakpoint-mobile) {
            left: 20px;

            width: 70px;
            padding: 6px 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    .info-block {
        padding-left: 60px;

        @include max-screen($breakpoint-mobile) {
            padding-left: 20px;
        }

        .info-block__title {
            margin-bottom: 30px;
        }
        img {
            height: 165px;
        }
    }
}
.l-point__decors-left {
    bottom: -199px;
    left: 0;

    width: 535px;
    height: 591px;

    background-image: url('#{$path-image}/decors/8.png');
}
.l-point__decors-right {
    right: 0;
    bottom: 380px;

    width: 544px;
    height: 606px;

    background-image: url('#{$path-image}/decors/7.png');
}
.l-point__decors-left,
.l-point__decors-right {
    position: absolute;
    z-index: 0;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
