.l-testimonies {
    position: relative;
    z-index: 1;

    margin: 100px auto 0;
    padding: 40px 0 70px;

    text-align: center;

    border-radius: 5%;
    background-color: #fff;

    @include max-screen($breakpoint-mobile) {
        padding-bottom: 50px;

        border-radius: 0;
    }
}
.l-testimonies__list {
    margin-top: 80px;

    list-style-type: none;

    text-align: left;

    @include max-screen($breakpoint-mobile) {
        margin-top: 50px;
        padding: 0 20px;
    }

    .slick-slide {
        &:not(.slick-active) {
            .l-testimonies__item {
                position: relative;
                top: 25px;

                transform: scale(.9);

                opacity: .5;
            }
        }
    }

    .slick-dots {
        display: flex;

        width: 160px;
        margin: 50px auto 0;

        list-style-type: none;

        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include max-screen($breakpoint-mobile) {
            margin: 10px auto 0;
        }

        li {
            width: 15px;
            height: 15px;

            cursor: pointer;
            transition: background-color $duration $easing,
            opacity $duration $easing;

            border: 2px solid #8178ff;
            border-radius: 100%;
            background-color: #fff;

            @include max-screen($breakpoint-mobile) {
                width: 10px;
                height: 10px;
            }

            &:hover {
                opacity: .8;
            }

            &.slick-active {
                width: 20px;
                height: 20px;

                border: none;
                background: linear-gradient(135deg, rgba(108,160,255,1) 0%,rgba(122,114,255,.96) 84%,rgba(100,22,255,.95) 100%);

                @include max-screen($breakpoint-mobile) {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}
.l-testimonies__item {
    padding: 0 10px;

    transition: all .5s $easing;
}
