.contact {
    font-family: $font-hiragino;

    width: 575px;
    margin: 80px auto 0;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-top: 55px;
    }

    input[type='submit'] {
        width: 375px;
        padding: 15px 0;

        cursor: pointer;
        transition: opacity $duration $easing;
        text-align: center;

        color: #fff;
        background-image: linear-gradient(-67.548deg, #50f 0%, #00e5ff 100%);

        @include max-screen($breakpoint-mobile) {
            width: 100%;
        }

        &:hover {
            opacity: .8;
        }
    }
    input[type='submit'][disabled] {
        pointer-events: none;

        background: #ccc;
    }
}
.contact__list {
    list-style-type: none;

    text-align: left;
}
.contact__item {
    display: block;

    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    label {
        font-size: 15px;
        font-weight: bold;

        display: inline-block;

        margin-bottom: 30px;
    }
    input {
        display: block;

        width: 100%;
        padding-bottom: 15px;

        border-bottom: 1px solid #e3e3e3;

        ::placeholder {
            color: #e3e3e3;
        }
    }

    textarea {
        width: 100%;
        margin-bottom: 50px;
        padding: 25px;

        border: 1px solid #e3e3e3;
        background-color: #f9f9f9;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 30px;
        }

        ::placeholder {
            color: #e3e3e3;
        }
    }

    // MODIFIER
    &.contact__item--required {
        label {
            position: relative;

            &:after {
                font-size: 10px;

                position: absolute;
                top: 50%;
                right: -80px;

                padding: 4px 18px 2px;

                content: '必須';
                transform: translateY(-50%);
                text-align: center;

                color: #fff;
                background-color: #50f;

                @include max-screen($breakpoint-mobile) {
                    right: -70px;
                }
            }
        }
    }
}
.contact__success {
    font-family: $base-font-family;
    font-size: 18px;
}
