.contact {
    font-family: $font-hiragino;

    width: 575px;
    margin: 80px auto 0;

    input[type='submit'] {
        width: 375px;
        padding: 15px 0;

        cursor: pointer;
        transition: opacity $duration $easing;
        text-align: center;

        color: #fff;
        background-image: linear-gradient(-67.548deg, #50f 0%, #00e5ff 100%);

        &:hover {
            opacity: .8;
        }
    }
}
.contact__list {
    list-style-type: none;

    text-align: left;
}
.contact__item {
    display: block;

    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    label {
        font-size: 15px;
        font-weight: bold;

        display: block;

        margin-bottom: 30px;
    }
    input {
        display: block;

        width: 100%;
        padding-bottom: 15px;

        border-bottom: 1px solid #e3e3e3;

        ::placeholder {
            color: #e3e3e3;
        }
    }

    textarea {
        width: 100%;
        margin-bottom: 50px;
        padding: 25px;

        border: 1px solid #e3e3e3;
        background-color: #f9f9f9;

        ::placeholder {
            color: #e3e3e3;
        }
    }
}
