.faq-block {
    font-family: $font-hiragino;
    font-weight: bold;

    position: relative;

    display: block;
    display: flex;

    padding: 35px 40px 35px 160px;

    transition: all $duration $easing;

    color: $base-font-color;
    border: 5px solid #6000ff;
    border-radius: 60px;

    flex-wrap: wrap;
    align-items: center;
    @include max-screen($breakpoint-mobile) {
        padding: 15px 0;

        transition: border-radius $duration $easing;
    }
}
.faq-block__question {
    font-size: 18px;
    line-height: 2;

    position: relative;

    width: 100%;

    text-align: left;

    @include max-screen($breakpoint-mobile) {
        font-size: 12px;

        width: 68%;
        margin-left: 15%;

        text-align: left;
    }

    &:before {
        font-family: $font-montserrat;
        font-size: 30px;

        position: absolute;
        top: -10px;
        left: -60px;

        content: 'Q';

        @include max-screen($breakpoint-mobile) {
            font-size: 20px;

            top: 0;
            left: -28px;
        }
    }
}
.faq-block__icon {
    &:before {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 0;

        display: block;

        width: 15px;
        height: 3px;

        content: '';
        transition: all $duration $easing;
        transform: translateY(-50%);

        background-color: #795888;

        @include max-screen($breakpoint-mobile) {
            right: -25px;

            width: 18px;
            height: 2px;
        }
    }
    &:after {
        position: absolute;
        top: 50%;
        right: 0;

        display: block;

        width: 15px;
        height: 3px;

        content: '';
        transition: all $duration $easing;
        transform: translateY(-50%) rotate(90deg);

        background-color: #795888;

        @include max-screen($breakpoint-mobile) {
            right: -25px;

            width: 18px;
            height: 2px;
        }
    }
}
.faq-block__answer {
    font-size: 18px;
    line-height: 2;

    position: relative;

    display: none;

    margin-top: 30px;

    text-align: left;

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        font-size: 12px;

        padding: 0 43px;
    }

    &:before {
        font-family: $font-montserrat;
        font-size: 30px;

        position: absolute;
        top: -9px;
        left: -60px;

        content: 'A';

        @include max-screen($breakpoint-mobile) {
            font-size: 20px;

            top: -6px;
            left: 14px;
        }
    }
}
