.footer {
    width: 100%;
}
.footer__logo {
    @include max-screen($breakpoint-mobile) {
        width: 100%;

        text-align: center;
    }
    img {
        width: 280px;

        opacity: .5;

        filter: invert(100%);
        @include max-screen($breakpoint-mobile) {
            width: 230px;

            opacity: .25;
        }
    }
}
.footer__nav {
    @include max-screen($breakpoint-mobile) {
        display: none;
    }
}
.footer__nav-list {
    list-style-type: none;
}
.footer__nav-item {
    margin-right: 70px;

    a {
        font-size: 15px;

        color: $base-font-color;
    }

    &:last-child {
        margin-right: 0;
    }

    &:not(.footer__nav-item--sns) {
        a {
            position: relative;
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 2px;

                content: '';
                transition: all $duration $easing;

                opacity: 0;
                background-color: #000;
            }

            &:hover {
                &:after {
                    transform: translateY(5px);

                    opacity: 1;
                }
            }
        }
    }
}
.footer__bottom {
    padding: 30px 0 45px;

    text-align: center;
    letter-spacing: .1em;

    color: #bfc0c1;

    @include max-screen($breakpoint-mobile) {
        padding: 20px 0 30px;
    }

    small {
        font-family: $font-hiragino;

        @include max-screen($breakpoint-mobile) {
            font-size: 11px;
        }
    }
}
.footer__icon {
    margin-right: 10px;

    -webkit-transition: -webkit-filter $duration $easing;

    &:last-child {
        margin-right: 0;
    }

    i {
        color: #949494;
    }

    &:hover {
        filter: brightness(.6);
    }

    // MODIFIERS
    &.footer__icon--round {
        font-size: 12px;

        height: 25px;
        padding: 2px 5px;

        border: 2px solid #949494;
        border-radius: 100%;
    }
    &.footer__icon--instagram {
        width: 23px;
        height: 23px;
        margin-left: 1px;

        background-image: url('#{$path-image}/icon-instagram.png');
        background-size: cover;

        &:hover {
            filter: brightness(0);
        }
    }
}
