.hero {
    position: relative;

    margin-top: -1px;
    padding: 200px 0 100px;

    background-image: url('#{$path-image}/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    @include max-screen($breakpoint-mobile) {
        margin-top: 0;
        padding: 20px 0 0;

        text-align: center;

        background-image: url('#{$path-image}/hero-bg-sp.jpg');
        background-size: cover;
    }

    &:after {
        position: absolute;
        bottom: -2px;
        left: 0;

        display: block;

        width: 3840px;
        height: 76px;

        content: '';
        transform-origin: center bottom;
        animation: moveWave 10s linear infinite;

        background-image: url('#{$path-image}/hero-wave.png');
        background-repeat: repeat no-repeat;
        background-position: 0 bottom;
    }
}

.hero__phones {
    width: 40.5%;

    @include max-screen($breakpoint-mobile) {
        position: relative;
        z-index: 1;

        width: 100%;
        margin-bottom: -180px;

        order: 2;
        justify-content: center;
    }

    img {
        width: 235px;
        height: 470px;

        &:last-of-type {
            position: relative;
            top: -60px;

            @include max-screen($breakpoint-mobile) {
                top: auto;
            }
        }
    }
}
.hero__details {
    width: 53%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 50px;

        order: 1;
    }
}
.hero__details-logo {
    @include max-screen($breakpoint-mobile) {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 20px;

        width: 210px;
        margin: 0 auto 25px;
    }
}
.hero__title {
    font-size: 55px;
    line-height: 1.3;

    letter-spacing: -.08em;

    color: #fff;

    @include max-screen($breakpoint-mobile) {
        font-size: 20px;
        line-height: 1.6;

        margin-top: 60px;

        letter-spacing: 0;
    }
}
.hero__description {
    font-size: 18px;

    margin-top: 45px;

    letter-spacing: -.03em;

    color: #fff;

    @include max-screen($breakpoint-mobile) {
        font-size: 11px;
        line-height: 1.8;

        margin-top: 10px;

        letter-spacing: .15em;
    }
}
.hero__details-bottom {
    margin-top: 45px;

    @include max-screen($breakpoint-mobile) {
        margin-top: 25px;

        justify-content: space-evenly;
    }

    img {
        width: 120px;
        height: 122px;

        @include max-screen($breakpoint-mobile) {
            width: 100px;
            height: 101px;
        }

        &:first-of-type {
            margin-right: 125px;

            @include max-screen($breakpoint-mobile) {
                margin: 0 auto;
            }
        }
    }
}
.hero__details-bottom-button {
    position: relative;
    top: 15px;

    display: inline-block;

    width: 303px;
    height: 73px;
    margin-right: 60px;
    padding: 14px 0 19px;

    transition: opacity $duration $easing;
    text-align: center;

    color: #fff;
    border-radius: 50px;
    background: linear-gradient(to right, rgba(24,176,250,1) 0%,rgba(67,55,253,.98) 100%);

    @include max-screen($breakpoint-mobile) {
        top: 20px;

        width: 100%;
        height: 69px;
        margin-right: 0;

        order: 2;
    }

    p {
        &:first-child {
            font-size: 8px;
        }
        &:last-child {
            font-size: 18px;
            font-weight: bold;

            position: relative;
            z-index: 0;

            display: inline-block;

            letter-spacing: .1em;

            &:before {
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;

                display: block;

                width: 100%;
                height: 9px;

                content: '';

                background-color: #93ca7b;
            }
        }
    }
}
.hero__scroll {
    font-family: $font-montserrat;

    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    transform: translateX(-50%);

    opacity: 0;
    color: #fff;

    &:after {
        position: absolute;
        top: 28px;
        left: 50%;

        width: 2px;
        height: 40px;

        content: '';
        transition: height 2s $easing;
        transform: translateX(-50%);
        animation: scaleLine 1s linear infinite;

        background-color: #fff;
    }
}


// ANIMATIONS
.hero,
.hero__scroll {
    transition: opacity .5s
    $easing;

    opacity: 0;

    &.is-shown {
        opacity: 1;

        &.u-show-pc {
            @include max-screen($breakpoint-mobile) {
                display: none;
            }
        }
    }
}

.hero__title,
.hero__description,
.hero__details-logo {
    transition: all .5s $easing;
    transform: translateX(-25px);

    opacity: 0;

    &.is-shown {
        transform: translateX(0);

        opacity: 1;
    }
}

.hero__details-bottom {
    a,
    img {
        transition: all .3s $easing;
        transform: translateY(25px);

        opacity: 0;
    }

    &.is-shown {
        a,
        img {
            transform: translateY(0);

            opacity: 1;
        }
        a {
            transition-delay: .5s;
        }
    }
}

.hero__phones img {
    transition: all .5s $easing;
    transform: scale(1.2);

    opacity: 0;;

    &.is-shown {
        transform: scale(1);

        opacity: 1;
    }
}

@keyframes moveWave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(.55);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}
@keyframes scaleLine {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}
