.hero {
    position: relative;

    padding: 230px 0 100px;

    animation: scaleHeroBg 100s infinite 0s ease-in;

    background-image: url('#{$path-image}/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 47px;

        content: '';

        background-image: url('#{$path-image}/hero-edge.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
.hero__phones {
    width: 40.5%;

    img {
        width: 235px;

        &:last-of-type {
            position: relative;
            top: -60px;
        }
    }
}
.hero__details {
    width: 53%;
}
.hero__title {
    font-size: 55px;
    line-height: 1.3;

    letter-spacing: -.08em;

    color: #fff;
}
.hero__description {
    font-size: 18px;

    margin-top: 45px;

    letter-spacing: -.03em;

    color: #fff;
}
.hero__details-bottom {
    display: block;

    margin-top: 45px;

    img {
        width: 120px;

        &:first-of-type {
            margin-right: 25px;
        }
    }
}
.hero__details-bottom-button {
    position: relative;
    top: 15px;

    display: inline-block;

    width: 300px;
    margin-right: 60px;
    padding: 14px 0 19px;

    text-align: center;

    color: #fff;
    background-image: url('#{$path-image}/hero-button-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    p {
        &:first-child {
            font-size: 8px;
        }
        &:last-child {
            font-size: 18px;
            font-weight: bold;

            position: relative;
            z-index: 0;

            display: inline-block;

            letter-spacing: .1em;

            &:before {
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;

                display: block;

                width: 100%;
                height: 6px;

                content: '';

                background-color: #93ca7b;
            }
        }
    }
}

@keyframes scaleHeroBg {
    from {
        background-size: 100% 100%;
    }
    to {
        background-size: 500% 500%;
    }
}
