.info-block {
    height: 100%;
    padding: 50px 30px;

    border: 2px solid $color-primary;
    border-radius: 30px;
    background-color: #fff;

    @include max-screen($breakpoint-mobile) {
        margin-left: 5px;
        padding: 35px 20px;

        border-radius: 13px;
    }

    img {
        width: 100%;
        height: 175px;
        margin: 0 auto 40px;

        object-fit: contain;
        @include max-screen($breakpoint-mobile) {
            margin: 0 auto 25px;
        }
    }
}
.info-block__title {
    font-family: $font-noto;
    font-size: 23px;
    font-weight: 700;

    margin-bottom: 50px;

    @include max-screen($breakpoint-mobile) {
        font-size: 20px;

        margin-bottom: 25px;
    }
}
.info-block__description {
    font-weight: bold;

    text-align: left;
    letter-spacing: .05em;

    color: #4d4d4d;

    @include max-screen($breakpoint-mobile) {
        font-size: 12px;
        line-height: 1.8;

        letter-spacing: .1em;
    }
}
