.info-block {
    height: 100%;
    padding: 50px 30px;

    border: 2px solid $color-primary;
    border-radius: 30px;
    background-color: #fff;

    img {
        width: 100%;
        height: 175px;
        margin-bottom: 40px;

        object-fit: contain;
    }
}
.info-block__title {
    font-family: $font-noto-bold;
    font-size: 23px;

    margin-bottom: 50px;
}
.info-block__description {
    text-align: left;
    letter-spacing: .05em;

    color: #747474;
}
