.menu {
    position: relative;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;

    width: 100%;
    height: 0;

    transition: opacity .5s $easing;
    transition: all .5s ease-in-out;

    opacity: 0;
    background-image: url('#{$path-image}/hero-bg-sp.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    // STATE
    &.is-shown {
        position: fixed;
        z-index: 15;

        height: 100vh;

        opacity: 1;

        .menu__list {
            height: 100vh;
        }

        .menu__item a {
            pointer-events: auto;
        }
    }
}
.menu__list {
    height: 0;
    padding: 80px 20px;

    list-style-type: none;

    text-align: center;
}
.menu__item {
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        font-size: 18px;

        display: block;

        transition: opacity $duration $easing;
        pointer-events: none;

        color: #fff;

        &:hover {
            opacity: .6;
        }
    }

    // MODIFIER
    &.menu__item--button {
        line-height: 3.1;

        width: 100%;
        height: 60px;
        margin-top: 10px;

        text-align: center;

        background-image: url('#{$path-image}/hero-button-bg.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        a {
            display: block;
        }
    }
    &.menu__item--sns {
        width: 65px;
        margin-right: auto;
        margin-left: auto;
    }
}
.menu__icon {
    i {
        color: #fff;
    }

    // MODIFIER
    &.menu__icon--round {
        font-size: 12px;

        height: 25px;
        padding: 2px 5px;

        border: 2px solid #fff;
        border-radius: 100%;
    }
    &.menu__icon--instagram {
        width: 24px;
        height: 24px;

        background-image: url('#{$path-image}/icon-instagram-sp.png');
        background-size: cover;
    }
}
