.section-title {
    margin-bottom: 30px;
}
.section-title-en {
    font-family: $font-montserrat;
    font-size: 20px;

    display: block;

    margin-bottom: 10px;

    text-transform: uppercase;
}
.section-title-ja {
    font-family: $font-noto-bold;
    font-size: 38px;

    position: relative;
    z-index: 0;

    display: inline-block;

    &:before {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 20px;

        content: '';

        background-color: $color-primary;
    }

    small {
        font-size: 30px;
    }
}
