.section-title {
    margin-bottom: 30px;
}
.section-title-en {
    font-family: $font-montserrat;
    font-size: 20px;

    display: block;

    margin-bottom: 10px;

    text-transform: uppercase;

    @include max-screen($breakpoint-mobile) {
        font-size: 14px;

        margin-bottom: 0;
    }
}
.section-title-ja {
    font-family: $font-noto;
    font-size: 38px;
    font-weight: 700;

    position: relative;
    z-index: 0;

    display: inline-block;

    @include max-screen($breakpoint-mobile) {
        font-size: 25px;
    }

    span {
        @include max-screen($breakpoint-mobile) {
            position: relative;

            display: block;

            &:before {
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;

                display: block;

                width: 100%;
                height: 20px;

                content: '';

                background-color: $color-primary;
            }
        }
    }

    &:before {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 20px;

        content: '';

        background-color: $color-primary;
    }

    small {
        font-size: 30px;
    }
}
