.testimony__top {
    position: relative;

    overflow: hidden;

    border-radius: 30px;

    img {
        width: 100%;
        height: 415px;

        object-fit: cover;
        @include max-screen($breakpoint-mobile) {
            height: 175px;
        }
    }
}
.testimony__from {
    font-family: $font-montserrat;

    position: absolute;
    top: 25px;
    left: 25px;

    padding: 12px 15px;

    text-align: center;

    color: #fff;
    background: linear-gradient(-67.548deg, #50f 0%, #2b72ff 100%);
    background-image: linear-gradient(-67.548deg, #50f 0%, #2b72ff 100%);

    @include max-screen($breakpoint-mobile) {
        top: 10px;
        left: 15px;

        padding: 5px 10px;
    }
}

.testimony__title {
    font-size: 30px;

    margin: 20px 0 30px;

    @include max-screen($breakpoint-mobile) {
        font-size: 20px;

        margin-bottom: 20px;
    }
}
.testimony__details {
    font-weight: bold;

    color: #4d4d4d;

    dt {
        font-size: 18px;

        position: relative;
        z-index: 0;

        display: inline-block;

        @include max-screen($breakpoint-mobile) {
            font-size: 12px;
        }

        &:before {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 8px;

            content: '';

            background-color: $color-primary;
        }
    }
    dd {
        line-height: 1.8;

        margin: 10px 0 15px;

        @include max-screen($breakpoint-mobile) {
            font-size: 12px;

            letter-spacing: .16em;
        }
    }
}
